@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
 
body{
	background-image: url("https://raw.githubusercontent.com/fredriclesomar/fredriclesomar.github.io/refs/heads/master/images/myID.webp");
	height: 100%; 
    	font-family: 'Roboto', sans-serif;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    color: #8d9d03;
}
 
.verified-icon {
    width: 5px;
    height: auto;
    margin-left: 5px;
    vertical-align: middle;
}
.kotak{
    width: 280px;
    height: 40px;
    border: solid 3px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 10px;
    display: block;
    font-size: 20px;
    text-decoration: none;
    color: #8d9d03;
    margin-bottom: 10px;
}
 
.kotak:hover{
    background-color: rgb(120, 350, 80);
    opacity: 0.1;
}
 
.header{
    text-align: center;
    font-size: 35px;
}
 
.header img{
    width: 150px;
    border-radius: 50%;
    margin-top: 10px;
}
 
.footer{
    text-align: right;
    margin-top: 50px;
    font-size: 20px;
    font-color: #FFFFFF
	position: right;
	left: 0;
	bottom: 0;
	width: 100%;
}

h2{
	color: #f56b05;
}
h6{
	background-color: rgb(245, 107, 5, 0.8);
	font-size: 13px;
    color: #f8d5bb;
}

.smartphone {
  position: relative;
  width: 360px;
  height: 640px;
  margin: auto;
  border: 16px solid;
  border-color: #140e04 ;
  border-top-width: 60px;
  border-bottom-width: 60px;
  border-radius: 36px;
  background-image: url("https://raw.githubusercontent.com/fredriclesomar/fredriclesomar.github.io/refs/heads/master/images/mine.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* The horizontal line on the top of the device */
.smartphone:before {
  content: '';
  display: block;
  width: 60px;
  height: 5px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("https://raw.githubusercontent.com/fredriclesomar/fredriclesomar.github.io/master/images/yahmete.jpg");
  border-radius: 10px;
}

/* The circle on the bottom of the device */
.smartphone:after {
  content: '';
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 50%;
  bottom: -65px;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 50%;
}

/* The screen (or content) of the device */
.smartphone .content {
  width: 360px;
  height: 640px;
  background: white;
}

.glow {
  font-size: 20px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #dee010, 0 0 40px #dee010, 0 0 50px #dee010, 0 0 60px #dee010, 0 0 70px #dee010, 0 0 80px #dee010;
  }
}

/* widget sticky :P */
#mySidenav a {
  position: absolute;
  left: -80px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 15px;
  color: #ffffff;
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  left: 0;
}

#status {
  top: 80px;
  background-color: #4CAF50;
}

#otaku {
  top: 120px;
  background-color: #2196F3;
}

#news {
  top: 160px;
  background-color: #f44336;
}

#sewot {
  top: 200px;
  background-color: #b44334;
}

#tespeed {
  top: 240px;
  background-color: #f39c12;
}

#whois {
  top: 280px;
  background-color: #7d3c98;
}

#ping {
  top: 320px;
  background-color: #05dde3;
}

#dig {
  top: 360px;
  background-color: #e52bd7;
}

#chiper {
  top: 400px;
  background-color: #909497;
}
